MYSQL_ROOT_PASSWORD=Admin123@
WORDPRESS_DB_NAME=wordpress
WORDPRESS_DB_USER=wordpress
WORDPRESS_DB_PASSWORD=wordpress
CONTAINER_NAME_DB=wp_test_db
CONTAINER_NAME_WORDPRESS=wp_test
DOMAIN=dexternguyen.com
EMAIL=dexternguyen.jobs@gmail.com
